/* font-family: 'Golos Text', sans-serif;
font-family: 'Poppins', sans-serif; */

:root {
  /* --branding-color: #6c63ff;
  --secondary-color: #f9f7fe; */
  --branding-color: #fd6f8e;
  --secondary-color: #fff1f3;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Golos Text", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 64px;
}

h4 {
  font-size: 46px;
}

p {
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: var(--branding-color);
}

img {
  border-radius: 10px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 0;
}
.hero h1 {
  font-size: 96px;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
}

.content-container {
  padding: 60px 15px;
}

.content h1 {
  font-size: 64px;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-branding:hover {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}

.project-description {
  padding: 0 60px;
}

.logo {
  max-height: 40px;
}

/* .weather-app {
  padding-top: 60px;
} */

nav {
  padding: 20px 0;
}

nav h3 {
  line-height: 40px;
  /* color: var(--branding-color); */
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #212529;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

.contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.contact-box p {
  margin: 0;
}

.footer-email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.footer-email-link:hover {
  color: var(--branding-color);
}

.social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  nav a {
    font-size: 14px;
  }
}
